.popular-recipes-container {
    display: flex;
    flex-direction: column;
    .popular-recipes-title {
        margin: 20px 0;
    }
    .popular-recipes {
        display: flex;
        flex-wrap: wrap;
        .popular-recipe {
            display: flex;
            flex-direction: column;
            flex: 1 0 30%;
            margin-bottom: 20px;
            margin-right: 10px;
            border: 1px solid gray;
            border-radius: 10px;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;            
            background-color: #27282b;
            color: white;
            img {
                height: 200px;
                border-top-left-radius: 8px;
                border-top-right-radius: 8px;
                object-fit: none;
            }
            .popular-recipe-info-container {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                padding: 5px 10px;
                height: -webkit-fill-available;
                .popular-recipe-title-and-where {
                    display: flex;
                    flex-direction: column;
                } 
                a {
                    color: antiquewhite;
                }
                .recipe-vegan,
                .recipe-popular,
                .recipe-healthy {
                    background-color: white;
                    margin: 5px 0;
                    padding: 8px;
                    border-radius: 5px;
                    width: fit-content;
                    color: black;
                }
                .recipe-vegan {
                    background-color: green;
                }
                .recipe-popular {
                    background-color: red;
                }
            }
        }
        .popular-recipe:hover {
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        }
    }
}