@mixin ingredient-box {
    padding: 5px;
    background-color: white;
    color: black;
    border-radius: 5px;
    margin: 5px;
    width: fit-content;
}
.modal-container .modal-content {
    background-color: #27282b;
    color: white;
    a {
        color: antiquewhite;
    }
    .recipe-summary {
        margin-bottom: 10px;
    }
    .owned-ingredients-container, .ingredients-container, .cuisines-container {
        margin: 10px 0;
    }
    .ingredients, .cuisines {
        display: flex;
        flex-wrap: wrap;
        .used-ingredient, .missed-ingredient, .cuisine {
            @include ingredient-box;
        }
    }
    .recipe-instructions {
        margin: 10px 0;
    }
}