.recipes-container {
    display: flex;
    flex-direction: column;
    .recipes {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .recipe {
            display: flex;
            flex-direction: column;
            flex: 0 0 32%;
            margin-bottom: 20px;
            border: 1px solid gray;
            border-radius: 10px;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;            
            background-color: #27282b;
            color: white;
            cursor: pointer;
            width: 200px;
            img {
                border-top-left-radius: 8px;
                border-top-right-radius: 8px;
                object-fit: cover;
            }
            .recipe-info-container {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                padding: 5px 10px;
                height: -webkit-fill-available;
                .recipe-title-and-where {
                    display: flex;
                    flex-direction: column;
                } 
                a {
                    color: antiquewhite;
                }
                .recipe-icon-container {
                    display: flex;
                    margin-top: 5px;
                    .recipe-used-ingredients, .recipe-missed-ingredients {
                        margin-right: 10px;
                    }
                }
            }
        }
        .recipe:hover {
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        }
        .recipe::after {
            content: "";
            flex: 100;
        }
    }
}